@charset "UTF-8";

a.navbar-brand img{
  width: 130px;
  height: 24px;
}

.icon-color{
  /* background: black; */
}

.carousel-caption {
  bottom: 35%;
  color: black;
}

.carousel-caption h2{
  font-size: 42px;
}

main{
  min-height: 100vh
}

.jumbo-img{
  width: 296px;
  height: 60px;
}

.jumbotron{
  background-color: transparent;

}
.card{
  padding-top: 20px;
  padding-left: 20px;
  flex: 20%;

}

.card > img{
  width: 30px;
  height: 51px;
}

.card .card-body{
  padding: 126px 24px 26px 24px;
  background: 26px 28px no-repeat;
  background-size: auto 51px;
}

main > .container{
  min-height: calc(100vh - 140px);
  position: relative;
  margin-bottom: 50px;
}

main > .container > .container-serch{
  position: absolute;
  right:0;
  top:0;
}

footer{
  position: relative;
  background-color: #f7f9fc;
  height: 140px;
}


.icon-box{
  position: absolute;
  display: inline-block;
  right: 50px;
  bottom: 10%;
}
.icon-box a{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: black;
  filter: grayscale(1);
  opacity: 0.5;
}

.icon-box a:hover{
  transition: 0.8s;
  background-color: red;
  filter: grayscale(0);
  opacity: 1;
}
.icon-box a:nth-child(2):hover{
  transition: 0.8s;
  background-color: green;
}

.icon-box a img{
  position: absolute;
  top: 25%;
  left: 18%;
}

body.sub .jumbotron{
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 200px;
  background-size: 75px 51px;
}



.container .items{
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 0;
  min-height: 100px;
  margin: 0 12px 24px;
}
.container .items .bg-box{
  height: 150px;
  width: 100%;
  border-radius: 20px;
  background-size: cover;
}

.container .items img{
  width: 100%;
}
.container .items h4{
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
}
